<%= form_for :question, :url => search_questions_path do |f| %>
   <p>
      <%= f.text_field :title, :value => 'pesquisa', :size => 50 %>
   
      <%= f.submit "vai!", :disable_with => 'indo...' %>
   </p>
<% end %>
 
<table>
  <% @questions.each do |q| %>
    <tr>
      <td><%= link_to q.title, question_path(q) %></td>
    </tr>
  <% end %>
</table>

<hr>

<p>
   &#x2192; <%= link_to "eu quero perguntar também!", new_question_path %>
</p>
