<center><h1>OracleWeb</h1></center>

<h2><strong><%= @question.title %></strong></h2>
 
<p>
  <%= @question.text %>
</p>

<hr>

<p>
   &#x2192; <%= link_to "editar!", edit_question_path(@question) %>
</p>

<p>
   &#x2192; <%= link_to "apagar!", question_path(@question), :method => :delete, :data => {:confirm => "Essa pergunta será removida do sistema! Prosseguir?"} %>
</p>

<p>
   &#x2192; <%= link_to "eu quero voltar!", questions_path %>
</p>
