<!DOCTYPE html>
<html>
<head>
  <title>OracleWeb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <h1>
      <center><%= link_to "OracleWeb", root_path %></center>
   </h1>

<%= yield %>

</body>
</html>
